
@font-face {
    font-family: 'where-m-i';
    src: url('./content/font/wheremi-webfont.woff2') format('woff2'),
         url('./content/font/wheremi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: fixed;
  height: 100%;
}


.mdc-top-app-bar--dense .mdc-top-app-bar__title {
  font-family: 'where-m-i';
  font-size: 30px;
}

#menuHeader {
  width: 100%;
}

@media only screen and (max-width: 480px) {
    .page-drawer-content {
      width: 100%;
    }

    .mdc-drawer--dismissible{
      width: 100%;
    }
}

@media all and (min-width:481px) {
    .main-topbar{
      width: 480px;
    }
    .mdc-drawer--dismissible{
      width: 480px;
    }
}

.about-card {
  margin:20px;
  width: 430px;
}

.mdc-top-app-bar--relative{
  position:relative;
}

.mdc-image__circular{
  border-radius: 50%;
}

.about-card .mdc-card__media{
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 50%;
}

.about-card .mdc-card__primary-action {
    height: 180px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.about-card .mdc-card__primary{
    width: 250px;
}

.notListedPlace {
  padding: 1rem;
}

.mdc-dialog_actions {
  margin: 10px;
}
.mdc-button--raised{
  margin: 5px;
}

.infoWindow-card .mdc-card__primary-action{
  height: 180px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.infoWindow-card .mdc-card__primary{
    width: 160px;
}

.infoWindow-card .mdc-card__media{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}
}
/*login menu*/
.mdc-image__circular{
  border-radius: 50%;
}

.login-menu {
  width: 300px;
  border-radius: 20px;
}

.login-card {
  margin: 10px;
  width: 270px;
}

.login-card .mdc-card__primary-action{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.login-card .mdc-card__primary{
    width: 160px;
}

.login-card .mdc-card__media{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}

.login-button {
  text-align: center;
  margin: 25px;
}
/*login menu end*/


/* edit-dialog*/
.cat-list {
  height: 280px;
}


#image-input {
  display: none;
}
/*edit dialog end*/

/*selected place*/
.img-container{
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.selected-place-img {
  width: 100%;
}
.selected-place-title {
  text-align: center;
}
/*selected place end*/

.mdc-text-field, .mdc-select{
  margin: 20px 0 0 20px;
}

/*welcome dialog*/
#welcome-img {
  width: 100%;
}

.drawer-fab {
  position: fixed;
  bottom: 1rem;
  left: 400px;
}

.mdc-fab {
  z-index: 99;
}
