
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* Optional: Makes the sample page fill the window. */
#map {
  position: fixed;
  height: 100%;
}

.mdc-player{
  background-color: white;
  width:300px;
  height:48px;
}

.mdc-player > button{
  float:left;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'where-m-i';
    src: url('./content/font/wheremi-webfont.woff2') format('woff2'),
         url('./content/font/wheremi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mdc-top-app-bar--dense .mdc-top-app-bar__title {
  font-family: 'where-m-i';
  font-size: 30px;
}

#menuHeader {
  width: 100%;
}

@media only screen and (max-width: 480px) {
    .page-drawer-content {
    width: 100%;
    }

}

@media all and (min-width:481px) {
    .main-topbar{
      width: 480px;
    }
    .page-drawer-content{
      width: 480px;
    }
}

.about-card {
  margin:20px;
  width: 430px;
}

.mdc-top-app-bar--relative{
  position:relative;
}

.mdc-image__circular{
  border-radius: 50%;
}

.about-card .mdc-card__media{
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 50%;
}

.about-card .mdc-card__primary-action {
    height: 180px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.about-card .mdc-card__primary{
    width: 250px;
}
.notListedPlace {
  padding: 1rem;
}

.mdc-dialog_actions {
  margin: 10px;
}

/*login menu*/
.login-menu {
  width: 300px;
  border-radius: 20px;
}

.login-img {
  width: 200px;
  border-radius: 50%;
  margin: 50px;
}

.login-name {
  text-align: center;
}

.login-button {
  text-align: center;
  margin: 25px;
}
