
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* Optional: Makes the sample page fill the window. */
#map {
  position: fixed;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#content_drawer {
  z-index: 4;
}

@media only screen and (max-width: 480px) {
    #content_drawer {
    width: 100%;
    }

}

@media all and (min-width:481px) {
    #content_drawer {
    width: 480px;
    }
    #content_header{
      width: 480px;
    }
    .aboutCard {
      width: 50%;
      float: left;
    }
}

.aboutImg {
  width: 100%;
  border-radius: 50px;
}

.about-card{
  margin:20px;
}

.mdc-top-app-bar--relative{
  position:relative;
}

.mdc-image__circular{
  border-radius: 50%;
}

.about-card .mdc-card__media:first-child{
  min-width: 110px;
  min-height: 110px;
  max-width: 110px;
  max-height: 110px;
  float: left;
  margin: 20px;
}

.about-card .mdc-card__primary-action {
    height: 180px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.about-card .mdc-card__primary{
    padding: 1rem;
}
